.button {
    background: $tertiary;
    border: 0;
    border-radius: 100px;
    box-shadow: 0 2px 4px $medGrey;
    color: $light;
    display: inline-block;
    font-family: $fontHeading;
    font-size: 1rem;
    letter-spacing: 1px;
    margin: .25rem;
    outline: 0;
    padding: 1rem 2rem;
    text-transform: capitalize;
    &:hover {
        background: $tertiary;
        color: $light;
        cursor: pointer;
    }
    &:active {
        box-shadow: 0 1px 3px $medGrey;
    }
    &:focus {
        box-shadow: 0 1px 3px $medGrey;
        outline: 0;
    }
    &.small {
        font-size: .75rem;
        padding: .75rem 1.5rem;
    }
    &.large {
        font-size: 1.25rem;
        padding: 1rem 3rem;
    }
}
