.button {
    background: $tertiary;
    border: 0;
    border-radius: 100px;
    box-shadow: $shadowSmall;
    color: $light;
    display: inline-block;
    font-family: $fontHeading;
    font-size: 1rem;
    letter-spacing: 1px;
    margin: .25rem;
    outline: 0;
    padding: 1rem 2rem;
    text-transform: capitalize;
    transition: .25s;
    &:hover {
        background: lighten($tertiary, 5%);
        box-shadow: 0 1px 3px $lightGrey;
        color: $light;
        cursor: pointer;
    }
    &:active {
        background: lighten($tertiary, 5%);
        box-shadow: 0 1px 3px $shadowSmall;
    }
    &:focus {
        background: lighten($tertiary, 5%);
        box-shadow: 0 1px 3px $shadowSmall;
        outline: 0;
    }
    &.small {
        font-size: .875rem;
        padding: .75rem 1.5rem;
    }
    &.large {
        font-size: 1.25rem;
        padding: 1rem 3rem;
    }
}
