.button {
    background: $tertiary;
    border: 0;
    border-radius: 100px;
    color: $light;
    font-family: $fontHeading;
    font-size: 1rem;
    letter-spacing: .5px;
    margin: .25rem;
    outline: 0;
    padding: 1rem 2rem;
    &:hover {

    }
    &:active {

    }
    &:focus {

    }
    &.small {
        font-size: .75rem;
        padding: 1rem 1.5rem;
    }
    &.large {
        font-size: 2rem;
        padding: 1rem 3rem;
    }
}
