.card {
    background: $light;
    border: 1px solid $lightGrey;
    border-radius: .25rem;
    box-shadow: $shadowSmall;
    margin-bottom: 1rem;
    overflow: hidden;
    padding: 1.25rem;
    text-align: center;
    @media (min-width: $lg) {
        text-align: left;
    }
    .thumbnail {
        display: block;
        img {
            border-radius: 1rem;
            box-shadow: $shadowSmall;
            object-fit: cover;
            height: 150px;
            width: 100%;
        }
    }
    .category {
        color: $primary;
        font-weight: $textBold;
        margin-top: .5rem;
    }
    .title {
        margin: .5rem .5rem .5rem 0;
        text-align: center;
        @media (min-width: $md) {
            text-align: left;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    .date {
        color: $medGrey;
        font-size: .85rem;
    }
    .name {
        font-size: .85rem;
    }
    .excerpt {
        text-align: center;
        @media (min-width: $md) {
            text-align: left;
        }
    }
    .continue {
        display: inline;
    }
}
