.card {
    background: $light;
    border: 1px solid $lightGrey;
    border-radius: .25rem;
    box-shadow: $shadowSmall;
    margin-bottom: 1rem;
    overflow: hidden;
    padding: 1.25rem;
    a {

    }
    .category {
        font-weight: $textBold;
    }
    .title {
        margin: .5rem .5rem .5rem 0;
        text-align: center;
        @media (min-width: $md) {
            text-align: left;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    .date {
        color: $medGrey;
        font-size: .85rem;
    }
    .name {
        font-size: .85rem;
    }
    .excerpt {
        text-align: center;
        @media (min-width: $md) {
            text-align: left;
        }
    }
    .thumbnail {
        margin: -1.25rem;
    }
}
