#featuredCards {
    padding: 2rem 0;
    .card {
        @media (max-width: $lg) {
            grid-template-columns: 1fr;
        }
    }
    .thumbnail {

    }
    #featuredPost1 {
        .category {
            color: $primary;
        }
    }
    #featuredPost2 {
        .category {
            color: $tertiary;
        }
    }
}
