#featuredCards {
    box-shadow: $shadowLarge;
    padding: 2rem 0;
    z-index: 3;
    .card {
        img {
            height: 300px;
        }
    }
    #featuredPost1 {
        .category {
            color: $primary;
        }
    }
    #featuredPost2 {
        .category {
            color: $tertiary;
        }
    }
}
