#componentFooter {
    padding: 2rem 1.875rem 5rem;
    h3 {
        margin-bottom: 1.5rem;
    }
    h4 {
        font-size: .85rem;
        &.margin-top {
            margin-top: 0;
        }
    }
    ul {
        list-style: none;
        margin-top: 0;
        padding-left: 0;
    }
    .logo {
        max-width: 200px;
        @media (min-width: $lg) {
            max-width: 100%;
        }
    }
}
