#componentFooterSocial {
    background: $secondary;
    padding: 1rem 0;
    span {
        display: inline-block;
        @media (min-width: $md) {
            margin-right: 1rem;
        }
    }
    #footerSocialLeft {
        text-align: center;
    }
    #footerSocialRight {
        span {
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
