.fourThumbs {
    background: $light;
    padding: 3rem 0 2rem;
    &#fourThumbsStatic {
        background: $secondary;
    }
    &#fourThumbsAuthors {
        padding: 1rem 0 2rem;
    }
    a {
        @media (max-width: $md) {
            display: flex;
            flex-direction: column-reverse;
        }
    }
    .thumbnail-container {
        .thumbnail {
            display: block;
            margin: 0 auto;
            text-align: center;
            img {
                border-radius: 1rem;
                box-shadow: $shadowMedium;
                height: 250px;
                object-fit: cover;
                width: 100%;
            }
        }
        h3 {
            text-align: center;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    h2 {
        text-align: center;
    }
}

.authors-posts {
    .heading-latest {
        text-align: center;
    }
}
