#componentHeader {
    background: $light;
    box-shadow: 0 -2px 5px $medGrey;
    width: 100%;
    @media (min-width: $lg) {
        display: block;
    }
    ul {
        list-style: none;
    }
    a {
        font-family: $fontHeading;
    }
}

#mobileNavIconContainer {
    background: $light;
    box-shadow: $shadowSmall;
    min-height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    div {
        min-height: inherit;
    }
    #mobileTitle {
        font-size: .85rem;
    }
    #mobileNavIcon {
        
    }
}

#mobileNavContainer {
    padding-bottom: 20px;
    padding-top: 50px;
    transition: .25s ease;
    a {
        color: $tertiary !important;
    }
    h3 {
        align-self: flex-start;
    }
    .static-nav {
        padding-left: 0;
        width: 100%;
        li {
            margin-bottom: .5rem;
        }
    }
    #navContainer {
        margin-bottom: 0;
    }
    .sub-menu {
        padding-left: 1rem;
        padding-top: .5rem;
        li {
            padding: 0 !important;
            &:before {
                content: '-';
                padding-right: .25rem;
            }
        }
    }
}

#headerTopContainer {
    display: none;
    margin-bottom: 1.5rem;
    width: 100%;
    @media (min-width: $lg) {
        display: grid;
        margin-bottom: unset;
    }
}

#headerTopLeft {
    ul {
        display: flex;
        padding-left: 0;
        @media (min-width: $lg) {
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }
        li {
            margin-right: 1rem;
            a {
                font-size: .85rem;
            }
        }
    }
}

#headerTopCenter {
    margin: 0 auto;
    .logo a {
        width: 120px;
        @media (min-width: $lg) {
            width: 75px;
        }
    }
}

#headerTopRight {
    justify-content: center;
    @media (min-width: $lg) {
        justify-content: flex-end;
    }
    .search {
        color: $medGrey;
        &:hover {
            cursor: text;
        }
    }
}

#headerBottomContainer {
    display: none;
    @media (min-width: $lg) {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}
