#componentHeader {
    background: $light;
    box-shadow: 0 -2px 5px $medGrey;
    width: 100%;
    @media (min-width: $lg) {
        display: block;
    }
    ul {
        list-style: none;
    }
    a {
        font-family: $fontHeading;
    }
}
