#componentHeader {
    background: $light;
    box-shadow: 0 -2px 5px $medGrey;
    width: 100%;
    ul {
        list-style: none;
    }
}

#headerTop {
    display: flex;
    width: 100%;
    @media (min-width: $lg) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

#headerTopLeft {
    a {
        font-family: $fontHeading;
    }
    ul {
        display: flex;
        padding-left: 0;
        @media (min-width: $lg) {
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }
        li {
            margin-right: 1rem;
            a {
                font-size: .85rem;
            }
        }
    }
}

#headerTopCenter {
    margin: 0 auto;
    .logo a {
        width: 75px;
    }
}

#headerTopRight {
    .search {
        color: $medGrey;
        &:hover {
            cursor: text;
        }
    }
}

#headerBottom {
    display: flex;
    justify-content: flex-start;
    @media (min-width: $lg) {
        align-items: center;
        border-top: 1px solid $lightGrey;
        justify-content: center;
        padding: .45rem 0;
    }
}
