#headerTopContainer {
    display: none;
    margin-bottom: 1.5rem;
    width: 100%;
    @media (min-width: $lg) {
        display: grid;
        grid-template-columns: 42% 1fr 42%;
        margin-bottom: unset;
    }
}

#headerTopContainer #headerTopLeft,
#headerTopContainer #headerTopRight {
    ul {
        display: flex;
        padding-left: 0;
        @media (min-width: $lg) {
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }
        li {
            margin-right: 1rem;
            a {
                font-size: 1rem;
            }
        }
        li.menu-item-has-children {
            .sub-menu {
                @media (min-width: $lg) {
                    background: $light;
                    box-shadow: $shadowLarge;
                    display: none;
                    margin-left: -.5rem;
                    padding: .5rem;
                    position: absolute;
                    width: 175px;
                    z-index: 4;
                }
            }
            &:hover {
                .sub-menu {
                    display: block;
                }
            }
        }
    }
}

#headerTopContainer #headerTopCenter {
    margin: 0 auto;
    .logo a {
        width: 120px;
        @media (min-width: $lg) {
            width: 75px;
        }
    }
}

#headerTopContainer #headerTopRight {

}
