#componentHero {
    background-color: $darkGrey;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(65vh);
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: relative;
    @media (min-width: $md) {
        justify-content: flex-start;
    }
    &:before {
        content: '';
        background: rgba(58, 59, 75, .65);
        height: 100%;
        position: absolute;
        width: 100%;
    }
    .featured-article {
        text-align: center;
        z-index: 2;
        @media (min-width: $md) {
            text-align: left;
        }
        .label {
            color: $light;
            font-weight: $textBold;
        }
        h1 {
            color: $light;
            font-weight: 700;
            margin-top: 0;
            text-shadow: 0 2px 3px $dark;
            @media (min-width: $lg) {
                font-size: 2.5rem;
            }
            &:hover {
                text-decoration: underline;
            }
        }
        h2 {
            color: $light;
            font-family: $fontBody;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: .5px;
            margin-top: .25rem;
            text-shadow: 0 2px 3px $dark;
            @media (min-width: $md) {
                width: 65%;
            }
            @media (min-width: $lg) {
                width: 50%;
            }
        }
        .button {
            border: 1px solid $white;
        }
        .cta {
            color: $light;
            text-decoration: underline;
        }
    }
    .statement {
        @extend .featured-article;
        @media (min-width: $md) {
            text-align: center;
        }
        h1 {
            &:hover {
                text-decoration: none;
            }
        }
        h2 {
            margin: .25rem auto 1rem;
            @media (min-width: $md) {
                width: 100%;
            }
        }
        .button {
            box-shadow: none;
        }
    }
}
