#componentNav,
nav {
    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
        li {
            margin-bottom: .5rem;
            a {
                color: $dark;
                padding: .25rem 0;
                &:hover {
                    border-bottom: 1px solid $medGrey;
                }
                &:active {
                    color: $primary;
                    border-bottom: 1px solid $primary;
                }
            }
        }
    }
}
