#componentNav {
    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
        @media (min-width: $md) {
            margin: 0 1.5rem 0 0;
        }
        li {
            &:last-child {
                &:after {
                    content: '';
                }
            }
            &:after {
                @media (min-width: $md) {
                    content: '|';
                    color: $lightGrey;
                    padding: 0 .65rem;
                }
            }
            a {
                color: $dark;
                font-family: $fontHeading;
                padding: .25rem 0;
                &:hover {
                    border-bottom: 1px solid $medGrey;
                }
            }
        }
    }
    .search {
        &:hover {
            cursor: text;
        }
        i {
            color: $medGrey;
        }
        span {
            font-family: $fontHeading;
            color: $darkGrey;
            display: inline-block;
            margin-right: .1825rem;
        }
    }
}
