#componentNav {
    width: 100%;
    z-index: 3;
    @media (min-width: $lg) {
        border-top: 1px solid $lightGrey;
        padding-bottom: .5rem;
        padding-top: .5rem;
    }
}

#navContainer {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    @media (min-width: $lg) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }
}

#navContainer ul {
    list-style: none;
}

#navContainer li {
    margin-bottom: .5rem;
    position: relative;
    @media (min-width: $lg) {
        margin-bottom: 0;
    }
}

#navContainer li a {
    color: $dark;
    @media (min-width: $lg) {
        font-size: .95rem;
        padding: .25rem 0;
    }
    @media (min-width: $xl) {
        font-size: 1rem;
    }
    &:hover {
        border-bottom: 1px solid $medGrey;
    }
    &:active {
        color: $primary;
        border-bottom: 1px solid $primary;
    }
}

#navContainer li.menu-item-has-children {
    &:hover {
        .sub-menu {
            display: block;
        }
    }
    &:last-child {
        &:hover {
            .sub-menu {
                margin-left: -1rem;
                @media (min-width: $lg) and (max-width: $xl) {
                    margin-left: -80px;
                }
            }
        }
    }
}

#navContainer .sub-menu {
    @media (min-width: $lg) {
        background: $light;
        box-shadow: $shadowLarge;
        display: none;
        margin-left: -.5rem;
        padding: .5rem 0;
        position: absolute;
        width: 200px;
        z-index: 2;
    }
    li {
        padding: .5rem 1rem;
    }
    li:after {
        content: '';
    }
}
