.sidebar {
    padding: .5rem 1rem;
    section {
        margin-bottom: 2rem;
        text-align: center;
        &.author-bio {
            .author-thumb {
                border-radius: 100px;
                display: block;
                margin: 0 auto;
            }
            .author-description {
                margin-bottom: 1.5rem;
            }
            .author-article {
                border-radius: .5rem;
                padding: .75rem .5rem;
                img {
                    border-radius: .5rem;
                    box-shadow: $shadowSmall;
                    height: 100%;
                    margin-right: .5rem;
                    object-fit: cover;
                    width: 100%;
                }
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                    &:first-child {
                        height: 70px;
                        width: 100px;
                    }
                    &:last-child {
                        @media (min-width: $md) {
                            width: 200px;
                        }
                    }
                }
            }
        }
        &.meeting-section {
            h3 {
                margin-top: 0;
            }
        }
        &.about-section {
            p {
                @media (min-width: $md) {
                    text-align: justify;
                }
            }
        }
        &.contact-section {
            .d-block {
                margin-top: 1rem;
            }
        }
    }
}
