#componentNav {
    ul {
        list-style: none;
        padding-left: 0;
        li {
            margin-right: 1rem;
            &:last-child {
                margin-right: 0;
            }
            a {
                color: $light;
            }
        }
    }
}
