#templateAffiliates {
    padding: 3rem 0;
    .affiliate {
        padding: 1rem;
        @media (min-width: $md) {
            padding: 1rem 0;
        }
        p {
            @media (min-width: $md) {
                margin-right: 1rem;
            }
        }
        img {
            border: 1px solid $lightGrey;
            border-radius: .5rem;
            padding: .5rem;
            width: 150px;
        }
    }
}
