#templateDefault {
    padding: 3rem 0;
    .post-body {
        @media (min-width: $md) {
            padding-right: .5rem;
        }
        @media (min-width: $lg) {
            padding-right: 1rem;
        }
        img {
            border-radius: 1rem;
            height: auto;
            width: 100%;
            &.featured-image {
                box-shadow: $shadowSmall;
            }
        }
    }
}
