.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    &.persist-row {
        flex-direction: row;
    }
}
@media (min-width: $md) {
    .flex {
        align-items: unset;
        flex-direction: row;
    }
}

.flex.column {
    flex-direction: column;
}

.flex.column-reverse {
    flex-direction: column-reverse;
}

.flex.row {
    flex-direction: row;
}

.flex.row-reverse {
    flex-direction: row-reverse;
}

.flex.align-start {
    align-items: flex-start;
}

.flex.align-end {
    align-items: flex-end;
}

.flex.align-baseline {
    align-items: baseline;
}

.flex.align-center {
    align-items: center;
}

.flex.align-stretch {
    align-items: stretch;
}

.flex.justify-start {
    justify-content: flex-start;
}

.flex.justify-end {
    justify-content: flex-end;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}
