html,
body {
    font-family: $fontBody;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    line-height: 1.75;
}

a {
    color: $tertiary;
    text-decoration: none;
}

address {
    font-style: normal;
    line-height: 1.65;
    span {
        display: block;
    }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: $dark;
    font-family: $fontHeading;
    letter-spacing: .5px;
    line-height: 1.5;
}

h1,
.h1 {
    font-size: 2.15rem;
    margin: 1.25rem 0 .75rem;
}

h2,
.h2 {
    font-size: 1.75rem;
    margin: 1.25rem 0 .7rem;
}

h3,
.h3 {
    font-size: 1.35rem;
    margin: 1.25rem 0 .65rem;
}

h4,
.h4 {
    font-family: $fontBody;
    font-size: 1.15rem;
    font-weight: 600;
    margin: 1rem 0 .5rem;
}

h5,
.h5 {
    font-family: $fontBody;
    font-size: .85rem;
    font-weight: 600;
    margin: 1rem 0 .5rem;
}

h6,
.h6 {
    color: $medGrey;
    font-family: $fontBody;
    font-size: .85rem;
    font-weight: 600;
    margin: 1rem 0 .5rem;
}

main[id] {
    margin-top: 55px;
    position: relative;
}

section[id] {
    position: relative;
}

.admin-bar #componentHeader {
    @media (min-width: $sm) {
        top: 32px;
    }
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 1rem;
    @media (min-width: $md) {
        padding: 0 1.25rem;
    }
    @media (min-width: $lg) {
        padding: 0 1.5rem;
    }
    @media (min-width: $xl) {
        padding: 0 1.875rem
    }
    &.full-width {
        max-width: 100%;
        width: 100%;
    }
    &.no-padding {
        padding: 0;
    }
}

.display-none {
    display: none;
}

.hidden {
    visibility: hidden;
}
