:root {
    --primary: #{$primary};
    --secondary: #{$secondary};
    --tertiary: #{$tertiary};
    --success: #{$success};
    --danger: #{$danger};
    --warning: #{$warning};
    --pink: #{$pink};
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    font-family: $fontBody;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    line-height: 1.75;
}

a {
    color: $tertiary;
    text-decoration: none;
    transition: .25s;
    &:hover {
        color: lighten($tertiary, 10%);
    }
}

address {
    font-style: normal;
    line-height: 1.65;
    span {
        display: block;
    }
}

figcaption {
    margin-left: auto;
    margin-right: auto;
    font-size: .75rem;
    text-align: center;
    width: 95%;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: $dark;
    font-family: $fontHeading;
    font-weight: 500;
    letter-spacing: .5px;
    line-height: 1.5;
}

h1,
.h1 {
    font-size: 1.75rem;
    margin: 1.25rem 0 .75rem;
    @media (min-width: $md) {
        font-size: 2rem;
        margin: 1.25rem 0 .75rem;
    }
    @media (min-width: $lg) {
        font-size: 2.15rem;
        margin: 1.25rem 0 .75rem;
    }
}

h2,
.h2 {
    font-size: 1.75rem;
    margin: 1.25rem 0 .7rem;
}

h3,
.h3 {
    font-size: 1.35rem;
    margin: 1.25rem 0 .65rem;
}

h4,
.h4 {
    font-size: 1.15rem;
    font-weight: 500;
    margin: 1rem 0 .5rem;
}

h5,
.h5 {
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 0 .5rem;
}

h6,
.h6 {
    color: $medGrey;
    font-size: .85rem;
    font-weight: 500;
    margin: 1rem 0 .5rem;
}

main[id] {
    padding-top: 40px;
    position: relative;
    @media (min-width: $lg) {
        padding-top: unset;
    }
}
.mobile-nav-active {
    overflow: hidden;
    main[id] {
        padding-top: 0;
    }
}
main#index {
    padding: 3rem 0;
}

section[id] {
    position: relative;
}

.admin-bar {
    main[id] {
        padding-top: unset;
    }
    #wpadminbar {
        display: none;
        @media (min-width: 783px) {
            display: block;
        }
    }
}

.banner-separator {
    background-color: $tertiary;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    img {
        height: 500px;
        object-fit: cover;
        width: 100%;
    }
}

.border-1 {
    border: 1px solid $lightGrey;
    border-radius: .5rem;
    box-shadow: $shadowSmall;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 1rem;
    @media (min-width: $md) {
        padding: 0 1.25rem;
    }
    @media (min-width: $lg) {
        padding: 0 1.5rem;
    }
    @media (min-width: $xl) {
        padding: 0 1.875rem
    }
    &.full-width {
        max-width: 100%;
        width: 100%;
    }
    &.no-padding {
        padding: 0;
    }
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.font-bold,
.text-bold {
    font-weight: $textBold;
}

.font-body {
    font-family: $fontBody;
}

.font-heading {
    font-family: $fontHeading;
}

.hidden {
    display: none;
}

.hidden-lg-xl {
    @media (min-width: $lg) {
        display: none;
    }
}

.hidden-md-lg-xl {
    @media (min-width: $md) {
        display: none;
    }
}

.hidden-mobile {
    @media (max-width: $md) {
        display: none;
    }
}

.hidden-tablet {
    @media (max-width: $lg) {
        display: none;
    }
}

.img-responsive {
    height: auto;
    max-width: 100%;
}

.invisible {
    visibility: hidden;
}

.invisible-sm {
    visibility: hidden;
    @media (min-width: $md) {
        visibility: visible;
    }
}

.invisible-sm-md {
    visibility: hidden;
    @media (min-width: $lg) {
        visibility: visible;
    }
}

.invisible-sm-md-lg {
    visibility: hidden;
    @media (min-width: $lg) {
        visibility: visible;
    }
}

.invisible-lg-xl {
    @media (min-width: $lg) {
        visibility: hidden;
    }
}

.invisible-md-lg-xl {
    @media (min-width: $md) {
        visibility: hidden;
    }
}

.mt-0 {
    margin-top: 0;
}

.mr-05 {
    margin-right: .5rem;
}

.mr-1 {
    margin-right: 1rem;
}

.my-0 {
    margin-bottom: 0;
    margin-top: 0;
}

.p-05 {
    padding: .5rem;
}

.p-1 {
    padding: 1rem;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-small {
    font-size: .875rem;
}
