html,
body {
    font-family: $fontBody;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    line-height: 1.75;
}

a {
    color: $tertiary;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $dark;
    font-family: $fontHeading;
    line-height: 1.25;
}

h1 {
    font-size: 2.15rem;
    margin: 1.25rem 0 .75rem;
}

h2 {
    font-size: 1.75rem;
    margin: 1.25rem 0 .7rem;
}

main[id] {
    margin-top: 55px;
    position: relative;
}

section[id] {
    position: relative;
}

.admin-bar #componentHeader {
    top: 32px;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 1rem;
    @media (min-width: $md) {
        padding: 0 1.25rem;
    }
    @media (min-width: $lg) {
        padding: 0 1.5rem;
    }
    @media (min-width: $xl) {
        padding: 0 1.875rem
    }
    &.full-width {
        max-width: 100%;
        width: 100%;
    }
    &.no-padding {
        padding: 0;
    }
}

.display-none {
    display: none;
}

.hidden {
    visibility: hidden;
}
