$primary: #c6a379;
$secondary: #ecddb9;
$tertiary: #517350;

$dark: #000;
$light: #fff;

$darkGrey: #3a3b4b;
$medGrey: #5c5e7a;
$lightGrey: #c5c8ea;

$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;

$pink: pink;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$rt: 192dpi;

$fontBody: 'Roboto', sans-serif;
$fontHeading: 'Playfair Display', Georgia, 'Times New Roman', serif;

$textBold: 700;

$shadowSmall: 0 .125rem .25rem rgba(0, 0, 0, .08);
$shadowMedium: 0 .25rem .5rem rgba(0, 0, 0, .25);
$shadowLarge: 0 .25rem .75rem rgba(0, 0, 0, .25);
