$primary: #c6a379;
$secondary: #ecddb9;
$tertiary: #517350;

$dark: #000;
$light: #fff;

$darkGrey: #3a3b4b;
$medGrey: #5c5e7a;
$lightGrey: #c5c8ea;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$rt: 192dpi;

$fontBody: 'Open Sans', sans-serif;
$fontHeading: 'Playfair Display', Georgia, 'Times New Roman', serif;
